
#rightPane{
    -fx-background-color: Pink;
}
#navPane{
    -fx-background-color: #fce9f5;
    -fx-border: 0,0,.1,0;
    -fx-border-color: pink;
}
#leftPane{
    -fx-background-color: #f1d3f0;
}
#CRUDPane{
    -fx-background-color: #f1d3f0;
    -fx-border-radius: 10px;
    -fx-border-color: Pink;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
#rectangleInventory{
     -fx-border-radius: 10px;
}
#logOutBtn{
    -fx-background-color: transparent;
}
#logoutBtn:hover{
    -fx-background-color: d6f480;
}